<h2>Frequently Asked Questions</h2>

<ul>
	<li>What forum software do we use?</li>
	<p>We're using our own forum software built in Ruby on Rails, however, don't be afraid, because you can check the source code at <a href="https://github.com/Oxyrus/forum">GitHub</a> </p>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>